.about section#content {
	margin-top: -46px;
	min-height: 375px;
}

section#content h1 {
	color: #000;
	font: 20px 'Arvo', serif;
	margin: 0 0 20px;
	text-shadow: 0 1px 0 #fff;
}


#main .group h2 {
	font-size: 20px;
	color: #bd0304;
	margin: 0 0 10px 20px;
}

#main .group figure{
	float: left;
	margin-bottom: 20px;
}

#main .group figcaption{
	font-variant:small-caps;
	color: #666;
}

img{
	float: left;
	clear: both;	
	margin-right: 30px;
}

p{
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 5px;
}

blockquote{
	font-size: 14px;
	color: #000;
	font-style: italic;
	padding-bottom: 10px;
	position: relative;
	left: 20px;
}

.tags{
	float: left;
}

.elements1 li{
	background-color: #656565;
	font-size: 12px;
	color: #fff;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;	
}

.elements2{
	clear: both;
}

.elements2 li{
	background-color: #afafaf;
	color: #fff;
	font-size: 12px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px;	
}

.box{
	background-color: #bd0505;
	width: 5px;	
	height: 5px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.elements3{
	clear: both;
}

.elements3 li{
	color: #bd0304;
	font-size: 14px;
	float: left;
	font-style: italic;
	margin: 0 20px 10px 0;
}

.about section#content article {
	float: left;
	clear: both;
	margin-bottom: 1em;
	width: 750px;
}

#content li a:hover{
	color: rgba(189,3,4,.8);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
}
a{
	text-decoration: none;
	color: #bd0304;
}

/* Video Interviews */
video {
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
    border: 1px solid rgba(55, 55, 55, 0.4);
    height: 265px;
    width: 470px;
    padding:10px;
    background:white;
    margin-bottom:30px;
}
video:hover {
	width:700px;
	height:400px;
	background:black;
}

