/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset", "compass/support", "compass/css3", "header";

body{
  background:white;
  font-family: 'Fresca', 'Arial', sans-serif;
  font-size:14px;
}

section{
  background:grey;
}

section.content{
  margin-top:210px;
}

section.music{
  background-color:$color;
  position:absolute;
  right: 245px;
  top: 30px;
}
